# Expire headers 5184000 seconds = 2 months
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/x-icon "access plus 5184000 seconds"
  ExpiresByType image/gif "access plus 5184000 seconds"
  ExpiresByType image/jpg "access plus 5184000 seconds"
  ExpiresByType image/png "access plus 5184000 seconds"
  ExpiresByType text/css "access plus 5184000 seconds"
  ExpiresByType text/javascript "access plus 5184000 seconds"
  ExpiresByType application/javascript "access plus 5184000 seconds"
  ExpiresByType application/x-javascript "access plus 5184000 seconds"
</IfModule>

# BEGIN Cache-Control Headers
#<ifmodule mod_headers.c>
#  <filesmatch "\\.(ico|jpe?g|png|gif|swf)$">
#    Header set Cache-Control "max-age=5184000, public"
#  </filesmatch>
#  <filesmatch "\\.(css)$">
#    Header set Cache-Control "max-age=5184000, private"
#  </filesmatch>
#  <filesmatch "\\.(js)$">
#    Header set Cache-Control "max-age=216000, private"
#  </filesmatch>
#</ifmodule>

# Turn ETags Off
<ifmodule mod_headers.c>
  Header unset ETag
</ifmodule>
FileETag None

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php